#section4{
    min-height: 90vh;
    text-align: center;
    margin: 10vh;
}

#section4 h1{
    color:var(--font-color);
    margin:25vh 0;
    font-size: 5vmin;
}

#icons img{
    max-width: 20vw;
    max-height: 25vh;
    background-color: #0d0720;
    box-shadow: 0px 0px 8px #261e42;
    padding: 2vh
}


.grid-item{
    display: grid;
    align-items: center;
    justify-items: center;
}


#icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:4vh;
}

@media(max-width:1100px){
    #icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:4vh;
    }
}

@media(max-width:900px){
    #icons{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-gap:4vh;
    }
    
    #section4 h1{
        margin:15vh 0;
    }

    #icons img{
        max-width: 35vw;
        max-height: 40vh;
        background-color: #0d0720;
        box-shadow: 0px 0px 8px #261e42;
        padding: 2vh
    }

}

@media(max-width:500px){
    #icons{
        display: grid;
        grid-template-columns:1fr;
        grid-gap:3vh;
    }

    #section4 h1{
        margin:10vh 0;
    }

    #section4{
        min-height: 90vh;
        text-align: center;
        margin: 5vh;
    }

    #icons img{
        max-width: 45vw;
        max-height: 45vh;
    }
    
}
