@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,400;1,500&family=Roboto:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0;
  padding:0;
  background-color: #070314;
  scroll-behavior: smooth;
  font-family: 'Roboto Mono', ' Bebas Neue',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

